body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: honk;
    background-size: cover;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
}

.menu_lista{

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    padding: 20px;
    gap: 65px;
    text-align: center;
    list-style: none;

}

.menu_curriculo{
    font-family: honk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    padding: 10px 20px;
    border-radius: 20px;
}

.banner{
    background-image: url(https://preview.redd.it/bpxxqqvps4h91.gif?width=640&crop=smart&auto=webp&s=e29a6c5b5996e595d29e52030ed4e9abe618e3bd);
    height: 100vh;
}

.logosite{
    max-width: 100px;
    border-radius: 50%;
}

.banner_info{
    background-color: rgba(0, 0, 0, 0.66);
    max-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    border-radius: 0px, 0px, 40px, 40px;
}


.fotoeu{
    max-width: 200px;
    border-radius: 50%;
}
